.link {
	@include flex-center;

	span {
		font-size: fluid(30, 24);
		text-transform: uppercase;
		text-align: center;
		background: linear-gradient(
			to right,
			var(--text-primary),
			var(--surface),
			var(--text-primary)
		);
		background-size: 200%;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: animate-gradient 2.5s linear infinite;
	}
}

@keyframes animate-gradient {
	to {
		background-position: 200%;
	}
}
