.root {
	display: inline-flex;
	align-items: flex-start;
	gap: 10px;
	color: var(--text-primary);
	cursor: pointer;
	user-select: none;
}

.input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	clip-path: inset(50%);

	&:focus-visible + .box {
		outline: 2px solid var(--primary-active);
		outline-offset: 3px;
	}

	&:checked + .box {
		border-color: var(--primary);
		background-color: var(--primary);

		&::after {
			border-color: var(--text-on-primary);
			transform: rotate(45deg) scale(1);
		}
	}

	&:disabled + .box {
		border-color: var(--border-color);
		background-color: var(--surface-hover);
		opacity: 0.6;
	}
}

.box {
	display: inline-flex;
	flex: 0 0 20px;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	margin-top: 1px;
	border: var(--border);
	border-radius: var(--radius-sm);
	background-color: var(--surface);
	transition: var(--duration);

	&::after {
		width: 5px;
		height: 10px;
		border: solid transparent;
		border-width: 0 2px 2px 0;
		content: '';
		transform: rotate(45deg) scale(0);
		transition: transform var(--duration);
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.label {
	font-size: 15px;
	line-height: 1.3;
}

.description {
	color: var(--text-secondary);
	font-size: 13px;
	line-height: 1.3;
}

.disabled {
	cursor: not-allowed;
	opacity: 0.7;
}
