.body {
	padding-block: 28px 48px;
}

.header {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 16px;
}

.count {
	margin: 0;
	color: var(--text-secondary);
	font-size: 14px;
}

.list {
	display: grid;
	gap: 16px;

	@include mobile {
		grid-template-columns: 1fr 1fr;
	}

	@include mobile-s {
		grid-template-columns: 1fr;
	}
}

.message {
	text-align: center;
}

.nonExchanges {
	@include flex-center;

	flex-direction: column;
	width: 100%;
	height: 300px;
	row-gap: 8px;
}
