.actions {
	display: flex;
	align-items: center;
	column-gap: 16px;

	@include mobile {
		column-gap: 8px;
	}
}

.navList {
	display: flex;
	align-items: center;
	column-gap: 8px;

	@include mobile {
		flex-direction: column;
		align-items: stretch;
		width: 100%;
	}

	.navLink {
		display: block;
		padding: 12px 16px;
		color: var(--text-secondary);
		border-radius: var(--radius-md);
		transition-duration: var(--duration);

		@include hover {
			background-color: var(--border-color-secondary);
			color: var(--text-primary);
		}
	}
}
